:root{
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;     
    src: url(./fonnts.com-Aeonik_Light.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight:500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;    
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonic;
    color: var(--pri);
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 40px;
    background: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}
.elem{
    background-color: var(--tri1);
    height: 300px;
    width: 260px;
    border-radius: 10px;
    font-size: 30px ;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 30px;
    right: 5%;
}
.elem:active{
   scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding:  20px ;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 3%;
    background: var(--red);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 50px;
    margin-top: 20px;
}
.todo-list-fullpage .todo-container{
  height: 80%;
  width: 100%;
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background:var(--tri2); 
    border-radius: 20px;
    height: 100%;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form #task-input{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    height: 280px;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    background-color: var(--tri1);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active{
    scale: 0.97;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background:var(--tri2); 
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
   
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--pri);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 50px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 8px 20px;
    color: var(--pri);
    background-color:green;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.task button:active{
    scale: 0.97;
}
.mark-important{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding : 7px 0;
    margin-bottom: 10px;
    gap: 20px;
    margin-left: 6px;
}
.mark-important input{
    scale: 1.5;
}
.mark-important label{
    font-size: 20px;
}



.daily-planner-fullpage h2{
    font-size: 50px;
   
}
.daily-planner-fullpage .day-planner{
    background-color:var(--tri2);
    height: 85%;
    margin-top: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
   display: flex;
   align-items: center;
   position: relative;
   width: 49%;
   margin-top: 5px;
   margin-bottom: 10px;
   
}
.day-planner .day-planner-time input{
    padding: 15px 32px;
    margin-top: 23px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 27px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 30%;
    left: 1.5%;
    font-size: 15px;
    color: var(--tri1);
}

.motivational-quote-fullpage{
    display: block;
}

.motivational-quote-fullpage .motivational-container{
  
}