:root{
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
}
@font-face {
    font-family: aeonik;
    font-weight: 200;     
    src: url(./fonnts.com-Aeonik_Light.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight:500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;    
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonic;
    color: var(--pri);
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background: var(--sec);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    padding-top: 40px;
    position: absolute;
}
.allElems header{
    height: 300px;
    width: 100%;
    background-image: url('https://i.pinimg.com/1200x/fa/44/44/fa44445ae6aa34e0a4ef11d91c9cfbd9.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
header .header1 h1{
    font-size: 70px;
}
header .header1 h4{
    font-size: 40px;
    font-weight: 500;
}
header .header2 h1{
    font-size: 50px;
}
header .header2 h2{
    font-weight: 500;
    font-size: 20px;
}
header .header2 h4{
    font-weight: 500;
    font-size: 20px;
}
header .header2 h3{
    font-weight: 500;
    font-size: 20px;
}
.allElems .allFeature {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem{
    background-color: var(--tri1);
    height: 300px;
    width: 260px;
    border-radius: 10px;
    font-size: 30px ;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 30px;
    right: 5%;
}
.elem:active{
   scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding:  20px ;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 3%;
    background: var(--red);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 50px;
    margin-top: 20px;
}
.todo-list-fullpage .todo-container{
  height: 80%;
  width: 100%;
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background:var(--tri2); 
    border-radius: 20px;
    height: 100%;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form #task-input{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    height: 280px;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    background-color: var(--tri1);
    border-radius: 5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active{
    scale: 0.97;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background:var(--tri2); 
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
   
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--pri);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--pri);
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 50px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 8px 20px;
    color: var(--pri);
    background-color:green;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.task button:active{
    scale: 0.97;
}
.mark-important{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding : 7px 0;
    margin-bottom: 10px;
    gap: 20px;
    margin-left: 6px;
}
.mark-important input{
    scale: 1.5;
}
.mark-important label{
    font-size: 20px;
}



.daily-planner-fullpage h2{
    font-size: 50px;
   
}
.daily-planner-fullpage .day-planner{
    background-color:var(--tri2);
    height: 85%;
    margin-top: 35px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
   display: flex;
   align-items: center;
   position: relative;
   width: 49%;
   margin-top: 5px;
   margin-bottom: 10px;
   
}
.day-planner .day-planner-time input{
    padding: 15px 32px;
    margin-top: 23px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 27px;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 30%;
    left: 1.5%;
    font-size: 15px;
    color: var(--tri1);
}

.motivational-quote-fullpage{
    position: relative;
}

.motivational-quote-fullpage .motivational-container{
   height: 350px;
   width: 60%;
   position: absolute;
   border-radius: 50px;
   top: 48%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.motivational-quote-fullpage .motivational-container::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 50px;
    scale: 1.15;
    filter: blur(120px);
    z-index: 8;
}
.motivational-quote-fullpage .motivational-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: var(--tri1);
    border-radius: 25px;
    padding: 15px;

}
.motivation-1{
    background-color: var(--tri2);
    border-radius: 20px ;
    padding: 12px;
    width: fit-content;
}
.motivation-1 h2{
    font-size: 30px;
    font-weight: 500;
}
.motivation-2{
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.motivation-2 h2{
    font-size: 40px;
   text-align: center;
    font-weight: 700;
    color: var(--sec);
}
.motivation-3 h2{
   text-align: center;
   color: var(--pri);

}
.motivational-quote-fullpage .motivational-container .motivation-wrapper img{
    position: absolute;
    right: 7%;
    top: 10%;
    height: 60px;
    rotate: 180deg;
    opacity: 0.3;
}

.pomodoro-timer-fullpage h2{
    font-size: 45px;
}
.pomodoro-timer-fullpage .pomo-timer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1{
    font-size: 160px;
}
.pomo-timer button{
    background-color: var(--tri2);
    padding: 15px 40px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 0px black;
    transition: all ease 0.2s;
    font-weight: 700;
}
.pomo-timer button:active{
    scale: 0.95;
    box-shadow: 0px 0px 0px black;
}
.pomodoro-timer-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(0, 128, 79);
    padding: 13px 30px;
    font-size: 30px;
    border-radius: 5px;

}
 /* (0, 191, 255) */